{%- include functions.html func='log' level='debug' msg='Get banner_html value' -%}
{% assign name = 'banner_html' %}
{%- include functions.html func='get_value' -%}
{% assign banner_html = return %}

{%- include functions.html func='log' level='debug' msg='Get banner value' -%}
{% assign name = 'banner' %}
{%- include functions.html func='get_value' -%}
{% assign banner = return %}

{%- include functions.html func='log' level='debug' msg='Get heading value' -%}
{% assign name = 'heading' %}
{%- include functions.html func='get_value' -%}
{% assign heading = return %}

{%- include functions.html func='log' level='debug' msg='Get subheading value' -%}
{% assign name = 'subheading' %}
{%- include functions.html func='get_value' -%}
{% assign subheading = return %}

{% if banner %}
  <section class="page-banner">
    <div class="page-banner-img">
      <div style="background-image: url({{ banner | relative_url }})"></div>
    </div>
    <div class="wrapper">
      <div class="page-banner-inner">
<!-- 
        {%- if banner_html -%}

        {%- assign banner_html = 'views/' | append: banner_html -%}
        {%- include {{ banner_html }} -%}

        {%- else -%} -->

          <!-- <div class="page-banner-default"> -->
            <h1 class="page-banner-heading">
              <span class="text-wrapper">
                <span class="letters">Coding_Diary</span>
              </span>
              <!-- {{ heading | default: page.title | escape }} -->
            </h1>
            <!-- <h2 class="page-banner-subheading">
              {{ subheading | default: page.subtitle | escape }}
            </h2> -->
          <!-- </div> -->

        <!-- {%- endif -%} -->
      </div>
    </div>
  </section>
<script>
  var textWrapper = document.querySelector(".page-banner-heading .letters");
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.page-banner-heading .letter',
    translateY: ["1.1em", 0],
    translateZ: 0,
    duration: 750,
    delay: (el, i) => 50 * i
  }).add({
    targets: '.page-banner-heading',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
</script>
{%- endif -%}

